body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 40px; /* 调整侧边栏宽度 */
    height: calc(100vh - 150px); /* 减去顶部偏移量的高度 */
    background-color: #f8f9fa;
    position: fixed;
    top: 150px; /* 整体下移 */
    left: 20px; /* 侧边栏与页面左边缘的距离 */
    z-index: 1000;
    border-radius: 10px; /* 四个角圆滑 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.sidebar-header {
    text-align: center;
    padding: 1px 0; /* 调整顶部“K”的大小 */
    background-color: #343a40;
    color: white;
    border-radius: 10px 10px 0 0; /* 圆滑顶部两个角 */
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* 让列表占据整个侧边栏高度 */
}

.sidebar-list li {
    display: flex;
    align-items: center; /* 确保内容垂直居中 */
    justify-content: center; /* 确保内容水平居中 */
    height: 8%; /* 根据需要调整每个项目的高度 */
    position: relative; /* 确保绝对定位的子元素相对于此元素定位 */
}

.sidebar-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #797b7d;
    width: 100%;
    height: 100%;
}

.label {
    visibility: hidden; /* 默认隐藏文本 */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
    white-space: nowrap;
    position: absolute;
    left: 60px; /* 调整文本显示位置，确保显示在侧边栏外部 */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 垂直居中 */
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1000;
    font-size: 14px;
}

/* 当鼠标悬停在列表项上时，显示tooltip */
.sidebar-list li:hover .label {
    visibility: visible;
    opacity: 1;
}